.items-text {
	height: 5rem;
	overflow: hidden;
	color: transparent !important;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0,0,0,.68) 60%, rgba(0, 0, 0, .2) 90%);
}